<a href="https://colab.research.google.com/github/Lorenzo1208/Brief_fao/blob/Lorenzo/Brief_fao_lorenzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Brief FAO

Graphique Pareto malnutrition, population, densité population

In [15]:
# import sqlite3
# import pandas as pd
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt

# # https://drive.google.com/file/d/12-D44BwtLPCS_8s7lfgU12sJ0DdZHy8_/view?usp=share_link

# conn = sqlite3.connect("https://drive.google.com/file/d/12-D44BwtLPCS_8s7lfgU12sJ0DdZHy8_/")


# df = pd.read_sql_query("""
#                        SELECT population."Code Pays", population.Pays, population.Valeur AS Population, cereal.Valeur AS Valeur_cereal
#                        FROM population INNER JOIN cereal
#                        ON (population."Code Pays" = cereal."Code Pays")
#                        WHERE (cereal.Élément= 'Production' AND cereal.Produit = "Blé") AND cereal.Valeur>0
#                        ORDER BY population."Code Pays"
#                        ;""",conn)

# df

OperationalError: ignored

In [16]:
import pandas as pd
csv_animal = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_animal.csv'
csv_cereal = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_cereal.csv'
csv_population = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_population.csv'
csv_sous_alimentation = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_sous_alimentation.csv'
csv_vegetal = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_vegetal.csv'

df_csv_animal = pd.read_csv(csv_animal)
df_csv_cereal = pd.read_csv(csv_cereal)
df_csv_population = pd.read_csv(csv_population)
df_csv_sous_alimentation = pd.read_csv(csv_sous_alimentation)
df_csv_vegetal = pd.read_csv(csv_vegetal)

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée