<a href="https://colab.research.google.com/github/Lorenzo1208/Brief_fao/blob/main/brief_fao_first_step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Brief FAO

Graphique Pareto malnutrition, population, densité population

In [ ]:
import sys
import pandas as pd
import sqlite3

filecsv = ['https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_animal.csv',
           'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_cereal.csv',
           'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_population.csv',
           'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_sous_alimentation.csv',
           'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_vegetal.csv']
#print(f'list : {filecsv}')

conn = sqlite3.connect('bdd.sqlite')

'''
to_sql()
read_sql_query()
conn.execute("SELECT/INSERT/...")
'''

names = ['Code Domaine', 'Domaine', 'Code Pays', 'Pays', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code Année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole']

for i in filecsv:
    #print(i[79:-4])
    df_tabs = pd.read_csv(i, names = names, header = 0)
    #df_tabs.index = df_tabs['Code Pays']
    df_tabs.to_sql(i[79:-4], con=conn, if_exists='replace')
    #crée un fichier bdd.sqlite avec nos 5 tables
    #print(i[38:-4])

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [ ]:
#import sys
import pandas as pd
#from colorama import Fore, Back, Style
#afficher des couleurs dans le terminal
import sqlite3
import numpy as np
import matplotlib.pyplot as plt

conn = sqlite3.connect('bdd.sqlite')

"""
df_population = pd.read_sql_query('''select Pays,"Code Pays",Valeur AS valeur_population
                           from population;''', con=conn)
#print(df_population)

df_cereal = pd.read_sql_query('''select "Code Pays",
                              Valeur AS valeur_cereal from cereal where Élément='Production' AND
                              Produit='Blé' ORDER BY "Code Pays";''', con=conn)
#print(df_cereal)
"""


df_graph = pd.read_sql_query('''SELECT population.Pays,
                             population."Code Pays",
                             population.Valeur AS valeur_population,
                             cereal.Valeur AS valeur_cereal,
                             
                             sous_alimentation."Code Pays",
                             sous_alimentation.Valeur AS valeur_sous_alimentation
                             
                             
                             FROM population
                             
                             INNER JOIN sous_alimentation
                             ON (population."Code Pays" = sous_alimentation."Code Pays")
                             
                             INNER JOIN cereal
                             ON (population."Code Pays" = cereal."Code Pays")
                             WHERE (cereal.Élément='Production'
                             AND cereal.Produit='Blé' AND cereal.Valeur > 0)
                             ORDER BY population."Code Pays";''', con=conn)

df_graph

            Pays  Code Pays  valeur_population  valeur_cereal
0        Armenia          1               2977          312.0
1    Afghanistan          2              30552         5169.0
2        Albania          3               3173          294.0
3        Algeria          4              39208         3299.0
4         Angola          7              21472            4.0
..           ...        ...                ...            ...
107   Luxembourg        256                530           91.0
108       Serbia        272               9511         2690.0
109   Montenegro        273                621            2.0
110        Sudan        276              37964          265.0
111        China        351            1416667       121931.0

[112 rows x 4 columns]

In [ ]:
'''import pandas as pd
csv_animal = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_animal.csv'
csv_cereal = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_cereal.csv'
csv_population = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_population.csv'
csv_sous_alimentation = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_sous_alimentation.csv'
csv_vegetal = 'https://raw.githubusercontent.com/remijul/dataset/master/fao_2013/FAOSTAT_2013_vegetal.csv'

df_csv_animal = pd.read_csv(csv_animal)
df_csv_cereal = pd.read_csv(csv_cereal)
df_csv_population = pd.read_csv(csv_population)
df_csv_sous_alimentation = pd.read_csv(csv_sous_alimentation)
df_csv_vegetal = pd.read_csv(csv_vegetal)
'''

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2731,Viande de Bovins,2013,2013,Milliers de tonnes,134.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2731,Viande de Bovins,2013,2013,Milliers de tonnes,6.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5142,Nourriture,2731,Viande de Bovins,2013,2013,Milliers de tonnes,140.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,645,Disponibilité alimentaire en quantité (kg/pers...,2731,Viande de Bovins,2013,2013,kg,4.59,Fc,Donnée calculée
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37161,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2775,Plantes Aquatiques,2013,2013,Milliers de tonnes,13086.00,A,"Agrégat, peut inclure des données officielles,..."
37162,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2775,Plantes Aquatiques,2013,2013,kg,9.24,Fc,Donnée calculée
37163,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2775,Plantes Aquatiques,2013,2013,Kcal/personne/jour,9.00,Fc,Donnée calculée
37164,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.69,Fc,Donnée calculée
37165,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2775,Plantes Aquatiques,2013,2013,g/personne/jour,0.04,Fc,Donnée calculée