<a href="https://colab.research.google.com/github/Lorenzo1208/Brief_fao/blob/main/projetq_q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter

filecsv = ['https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_animal.csv',
           'https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_population.csv',
           'https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_sous_alimentation.csv',
           'https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_vegetal.csv',
           'https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_cereal.csv'
           ]

x = len('https://raw.githubusercontent.com/Lorenzo1208/Brief_fao/main/FAOSTAT_2013_')



names = ['Code Domaine', 'Domaine', 'Code Pays', 'Pays', 'Code Élément',
       'Élément', 'Code Produit', 'Produit', 'Code Année', 'Année', 'Unité',
       'Valeur', 'Symbole', 'Description du Symbole']

#on crée un dataframe pour chaque csv qui nous intéresse en unifiant les noms de colonnes

df_animal = pd.read_csv(filecsv[0], names = names, header = 0)
df_population = pd.read_csv(filecsv[1], names = names, header = 0)
df_sous_alimentation = pd.read_csv(filecsv[2], names = names, header = 0)
df_vegetal = pd.read_csv(filecsv[3], names = names, header = 0)
df_cereal = pd.read_csv(filecsv[4], names = names, header = 0)
df_cereal

,Code Domaine,Domaine,Code Pays,Pays,Code Élément,Élément,Code Produit,Produit,Code Année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169.00,S,Données standardisées
1,FBS,Bilans Alimentaires,2,Afghanistan,5611,Importations - Quantité,2511,Blé,2013,2013,Milliers de tonnes,1173.00,S,Données standardisées
2,FBS,Bilans Alimentaires,2,Afghanistan,5072,Variation de stock,2511,Blé,2013,2013,Milliers de tonnes,-350.00,S,Données standardisées
3,FBS,Bilans Alimentaires,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé,2013,2013,Milliers de tonnes,5992.00,S,Données standardisées
4,FBS,Bilans Alimentaires,2,Afghanistan,5527,Semences,2511,Blé,2013,2013,Milliers de tonnes,322.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16052,FBS,Bilans Alimentaires,351,Chine,5142,Nourriture,2520,"Céréales, Autres",2013,2013,Milliers de tonnes,405.00,A,"Agrégat, peut inclure des données officielles,..."
16053,FBS,Bilans Alimentaires,351,Chine,645,Disponibilité alimentaire en quantité (kg/pers...,2520,"Céréales, Autres",2013,2013,kg,0.29,Fc,Donnée calculée
16054,FBS,Bilans Alimentaires,351,Chine,664,Disponibilité alimentaire (Kcal/personne/jour),2520,"Céréales, Autres",2013,2013,Kcal/personne/jour,2.00,Fc,Donnée calculée
16055,FBS,Bilans Alimentaires,351,Chine,674,Disponibilité de protéines en quantité (g/pers...,2520,"Céréales, Autres",2013,2013,g/personne/jour,0.06,Fc,Donnée calculée
16056,FBS,Bilans Alimentaires,351,Chine,684,Disponibilité de matière grasse en quantité (g...,2520,"Céréales, Autres",2013,2013,g/personne/jour,0.01,Fc,Donnée calculée

In [3]:
#analyses univariées
df_animal.describe()

,Code Pays,Code Élément,Code Produit,Code Année,Année,Valeur
count,37166.000000,37166.000000,37166.000000,37166.0,37166.0,37166.000000
mean,126.800839,3511.032718,2758.421191,2013.0,2013.0,148.291647
std,74.767139,2332.283315,27.454449,0.0,0.0,1933.728473
min,1.000000,645.000000,2731.000000,2013.0,2013.0,-1368.000000
25%,63.000000,674.000000,2736.000000,2013.0,2013.0,0.000000
50%,121.000000,5142.000000,2762.000000,2013.0,2013.0,1.000000
75%,189.000000,5511.000000,2767.000000,2013.0,2013.0,11.000000
max,351.000000,5911.000000,2848.000000,2013.0,2013.0,135600.000000

In [ ]:
#analyses bivariées
#exemple d'un pareto

def create_graph(df_graph):
  # Demande à l'utilisateur de saisir le nom de la colonne à utiliser pour tracer le graphique
  column = input("Veuillez saisir le nom de la colonne à utiliser pour tracer le graphique: ")
  # Vérification que la colonne saisie existe dans le DataFrame
  if column not in df_graph.columns:
    print("La colonne saisie n'existe pas dans le DataFrame.")
    return
  # Tri du DataFrame par ordre décroissant sur la colonne courante
  df_graph = df_graph.sort_values(by=column, ascending=False)
  # Ajout d'une colonne cumulée qui contient la somme cumulée des valeurs de la colonne courante, exprimée en pourcentage
  cumperc = df_graph[column].cumsum()/df_graph[column].sum()*100
  df_graph['cumperc'] = cumperc
  color1 = 'blue'
  # Couleur de la ligne sur le graphique secondaire
  color2 = 'red'
  # Épaisseur de la ligne sur le graphique secondaire
  line_size = 4
  # Création des figures et des axes
  fig, ax = plt.subplots()
  # Tracé d'un graphique à barres
  plt.bar(df_graph.Pays, df_graph[column], color=color1)
  # Configuration de la taille de la figure
  fig.set_size_inches(18.5, 10.5)
  # Rotation des étiquettes sur l'axe des x et ajustement de leur taille
  plt.xticks(rotation=90, ha="right", fontsize=8)
  # Titre du graphique
  plt.title(column, fontsize=20)
  # Titre de l'axe des x
  plt.xlabel('Pays',fontsize=20)
  # Titre de l'axe des y
  plt.ylabel('Valeurs',fontsize=20)
  # Création d'un second axe pour tracer une ligne sur le même graphique
  ax2 = ax.twinx()
  # Tracé d'une ligne sur le graphique secondaire en utilisant les valeurs de la colonne 'cumperc'
  # La couleur de la ligne est définie par la variable 'color2'
  # Les marqueurs sont des losanges et leur taille est définie par la variable 'line_size'
  ax2.plot(df_graph.Pays, cumperc, color=color2, marker="D", ms=line_size)
  # Formatage des étiquettes de l'axe des y du graphique secondaire en pourcentage
  ax2.yaxis.set_major_formatter(PercentFormatter())
  # Modification de la couleur des étiquettes de l'axe des y du graphique secondaire
  ax2.tick_params(axis='y', colors=color2)
  # Affichage du graphique
  plt.show()

create_graph(df_population)

In [ ]:
#analyse exploratoire
df_population.isnull().value_counts()
# Sur 174 lignes la colonne flag est vide
#il y a 1 ligne ou il y a une valeur dans la colonne flag

Etude guidée n°1

Q1

In [ ]:
sum_of_column = df_population['Valeur'].sum()
#la valeur est en millier de personne
print(sum_of_column*1000)

#ce résultat ne correspond pas à la population mondiale de 2013 qui était d'environ 7,2 milliards car la population de la Chine apparaît 2 fois dans le CSV
mask = df_population['Pays'] == "China"
#on supprime la ligne avec la population totale de Chine
df_population.drop(df_population[mask].index, inplace=True)
print((df_population['Valeur'].sum())*1000)
#ce résultat ne correspond toujours pas car la liste n'est peut-être pas exhaustive
#elle comporte 175 lignes, l'ONU reconnaît 195 pays mais pour certains la population doit être incluse dans d'autres comme le Vatican ou Saint Marin

Q2

Disponibilité intérieure
= Production + Importations + Variation de stock - Exportations
= Semences + Pertes + Traitement + Autres Utilisations + Nourriture

In [ ]:
df = df_cereal[['Pays', 'Élément', 'Produit', 'Valeur']]
df = df[(df['Pays'] == 'France') & (df['Produit'] == 'Blé') ]
df

In [ ]:
prod = df['Valeur'].iloc[0]
importation = df['Valeur'].iloc[1]
variation = df['Valeur'].iloc[2]
exportation = df['Valeur'].iloc[3]
dispo = df['Valeur'].iloc[4]
aliments = df['Valeur'].iloc[5]
semences = df['Valeur'].iloc[6]
pertes = df['Valeur'].iloc[7]
traitement = df['Valeur'].iloc[8]
autres = df['Valeur'].iloc[9]
nourriture = df['Valeur'].iloc[10]
print(dispo, '=', prod+importation+variation-exportation, '=', semences+aliments+nourriture+autres+pertes+traitement)

Q3

In [ ]:
aliments = df_vegetal.set_index('Code Pays').join(df_animal.set_index('Code Pays'), lsuffix="_vegetal", rsuffix="_animal")
aliments